body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 14px 20px;
  font-weight:bold;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: block;
}

button:hover {
  opacity: 0.8;
}

#imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
}

#container {
  padding: 16px;
}

.icon.fas.fa-user-plus.fa-5x{
	margin-top:25%;
}

#alert-js{
	background-color: #f44336;
	color: white;
	float: left;
	font-size: 15px;
	transition: 0.3s;
	margin: 4px 0;
}

#logocontainer {
	margin-top:10%;
  text-align: center;
}

img.logo{
	width: 80%;
	height: 7%;
}
 nav#icons{
	 bottom:90%;
 }