input[type="button"] {
  box-shadow: 2px 2px 8px black;
  background-color: #feb773;
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding:3%;
  height : 5%;
}

input[type="button"]:focus {
  outline: 0;
}

input[type="button"]:hover, input[type="button"]:active {
  background-color: #FD6A02;
  opacity: 0.8;
}
body > form {
  margin-top: 10%;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size : 20px;
}

img {
    width: 50;
    height: 25%;
    left: 25%;
    right: 25%;
}

header{
	position: relative;
}
