* {
  font-family: sans-serif;
}

header {
  background-color: #FD6A02;
  padding: 2% 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  background-color: #feb773aa;
}

/* Icon bar */
span.icon:link {
  color: grey;
}

span.icon:visited {
  color: grey;
}

span.icon:hover {
  color: blue;
}

span.icon:active {
  color: red;
}

span.icon {
  color: black;
}

header {
  margin-bottom: 5%;
}

body {
  margin: 0px;
}

nav#icons a, div#right_icons {
  display: inline-block;
}

div#right_icons {
  position: absolute;
  right: 5%;
  margin-bottom : 90%;
}

span.fa-search {
  cursor: pointer;
}

/* Searchbar */
nav#searchbar {
  display: none;
  vertical-align: bottom;
  width: 100%;
  border-bottom: 2px solid black;
}

input#search {
  display: inline-block;
  border: none;
  background-color: #FD6A02;
  outline: none;
  max-width: 70%;
  margin-left: 5%;
  margin-bottom: 1%;
}

input#search::placeholder {
  color: black;
}

input#search::-webkit-search-cancel-button {
  display: none;
}

span.fa-times, span.fa-arrow-left {
  cursor: pointer;
}

span.fa-arrow-left {
  margin-left: 1%;
}

span.fa-times {
  display: none;
  position: absolute;
  margin-top: 1%;
  right: 10%;
}

span.icon, input#search {
  font-size: 28px;
}

@media screen and (min-width: 600px) {
  span.icon, input#search {
    font-size: 55px;
  }
}

@media screen and (min-width: 1400px) {
  span.icon, input#search {
    font-size: 75px;
  }
}

@media screen and (min-width: 2000px) {
  span.icon, input#search {
    font-size: 120px;
  }
}
