input{
    left: 200px;

    vertical-align:middle;
}
ul{
  list-style-type: none;
}
/*#third{
  position: fixed;
  left: 70%;
}
li input:nth-child(4){
  position: fixed;
  left: 70%;
}*/
input{
  border: 1px solid grey;
  border-radius: 25px;
  text-align: center;
}/*
ul div{
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}
li{
  margin-bottom: 5%;
}*/
html *{
  font-size: 15px;
}
/* button */
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

.orange
{
  background-color: #FD6A02;
  border-bottom: 5px solid #feb773aa;
  margin-left: 30%;
  margin-top: 5%;
  width: 40%;
}
.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
/*end button */
button{
  font-size: 55px;
}
table,th,td{
  border-collapse: collapse;
  border-bottom: 1px solid grey;
  width: 100%;
}
th{
  width: 20%;
  padding: 3%;
}
/* radio button */
.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  top: 13px;
  left: 30px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 24%;
  left: 28px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* end radio button*/
