#noti_counter {
  display:block;
  opacity: 0;
  position:absolute;
  background:#E1141E;
  color:#FFF;
  opacity: 0;
  top: -10px;
  font-size:12px;
  font-weight:normal;
  padding: 1px 3px;
  margin:-5px 0 0 15px;
  border-radius:2px;
  z-index:1;
}
