/*table{
  border-collapse: collapse;
  width: 100%;
}
td,th {
  border: 1px solid #ddd;
  padding: 8px;
}*/
table tr:nth-child(even){background-color: #feb773aa;}
table tr:hover {background-color: #fd6a02;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  font-weight: bold;
}
table tr:first-child{
  background-color: #fd6a02;
}
