span.fa-shopping-cart {
  color: grey;
}

span.fa-trash-alt:hover {
  color: red;
}

span.fa-trash-alt {
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

tr, thead {
  border-bottom: 1px solid grey;
}

thead {
  background-color: #fd6a02;
}

th {
  padding-top: 1%;
  padding-bottom: 1%;
}

tr:last-child {
  margin-bottom: 2%;
}

td:first-child {
  padding-left: 5%;
  word-break: normal;
}

td {
  width: 25%;
  padding-top: 1%;
}

td:last-child {
  padding-left: 5%;
  width: auto;
}

p#sum_total, form#check-out input {
  font-size: 22px;
}

p, form {
  display: inline-block;
}

p#sum_total {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2%;
}

form#check-out input:focus {
  outline: 0;
}

article.shop tr:last-child {
  border-bottom: 2px double black;
}

table tr:hover {
  background-color: #fd6a02;
}

@media screen and (min-width: 700px) {
  form#check-out input{
    padding: 15% 35%;
  }

  p#sum_total {
    margin-left: 20%;
    margin-top: 5%;
  }
}

@media screen and (min-width: 1000px) {
  p#sum_total {
    margin-left: 30%;
  }
}

@media screen and (min-width: 2000px) {
  p#sum_total {
    margin-left: 35%;
  }
}
