span.fa-home {
  color: grey;
}

img#imgProfilo {
  position: relative;
  left: 21%;
  width: 57%;
  padding-bottom: 2%;
  margin-top: 5%;
}

#page > form {
  text-align: center;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
  margin: 5%;
  padding: 0;
}

li {
  margin: 5%;
}

input[type="button"] {
  width: 200px;
  padding: 10px 0px;
}

input[type="button"]:focus {
  outline: 0;
}

@media screen and (min-width: 700px) {
  img#imgProfilo {
    width: 65%;
    margin: 5%;
    left: 15%;
  }

  input[type="button"] {
    font-size: 15px;
    width: 270px;
  }

  #page article, form {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  img#imgProfilo {
    width: 150%;
  }

  #page > form {
    margin-left: 22%;
    vertical-align: top;
    margin-top: 14%;
  }
}

@media screen and (min-width: 1200px) {
  img#imgProfilo {
    margin-left: 30%;
  }

  #page > form {
    margin-left: 30%;
    vertical-align: top;
    margin-top: 9%;
  }

  #page input {
    font-size: 25px;
  }
}

@media screen and (min-width: 2000px) {
  img#imgProfilo {
    margin: 20% 15% 20% 130%;
  }

  #page > form {
    margin-left: 40%;
    vertical-align: top;
    margin-top: 6%;
  }

  #page input {
    width: 150%;
    font-size: 35px;
  }
}
