#logout {
  position: absolute;
  top: 38px;
  padding: 10px 0px;
  margin-top: 0px;
  right: -20px;
  z-index: 0;
  width: 100px;
}

@media screen and (min-width: 500px) {
  #logout {
    top: 75px;
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  #logout {
    top: 70px;
  }
}
