h1 {
  font-size: 30px;
  padding-top: 2%;
}

h2 {
  font-size: 20px;
}

article.shop h2 {
  margin: 5% 0% 2% 5%;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

li {
  margin-bottom: 2%;
}

table {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
}

td, th {
  padding-left: 5%;
}
