div.tab input {
  border: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  cursor: pointer;
}

div.tab ul {
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

div.tab ul li:last-child {
  margin-left: -5px;
}

input[type=button] {
  box-shadow: none;
}

header {
  margin-bottom: 5%;
}

div.users_page {
  display: none;
}

table.vendors_page {
  display: block;
}

tbody {
  width: 300px;
}

.tab {
  overflow: hidden;
  border: 1px solid #bfa790;
  background-color: #fd6a02;
}

/* Style the buttons inside the tab */
.tab input {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab input:hover {
  background-color: #feb773ff;
}

@media screen and (min-width: 700px) {
  div.tab input {
    font-size: 25px;
  }

  header {
    margin-bottom: 2%;
  }
}
