/* Searchbar */
nav {
  display: inline-block;
  vertical-align: bottom;
}

form#searchbar {
  display: inline-block;
  margin-left: 3%;
  border: 2px solid grey;
  border-radius: 100px;
  padding: 10px;
  max-width: 50%;
}

input#search {
  display: inline-block;
  font-size: 250%;
  border: none;
  max-width: 90%;
}
