h1 {
  text-align: center;
  margin-bottom: 10%;
}

h2 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 5%;
  width: 25%;
  word-wrap: normal;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  max-height: 100px;
  padding: 2% 0%;
  margin-left: 5%;
}

form.acceptRemove {
  display: inline-block;
  margin-left: 7%;
}

article.slot {
  border: 2px solid black;
  border-bottom: 0px;
  background-color: #ffffffbb;
}

article.slot:last-child {
  border-bottom: 2px solid black;
}

input[type="button"] {
  vertical-align: middle;
  box-shadow: 2px 2px 8px black;
  background-color: #feb773;
  font-size: 20px;
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:focus {
  outline: 0;
}

input[type="button"]:hover, input[type="button"]:active {
  background-color: #FD6A02;
}
