article.shop h2 {
  display: inline-block;
}

th {
  width: 5%;
}

td {
  width: 10%;
  word-break: normal;
}

td, th {
  padding-bottom: 2%;
  padding-top: 2%;
  font-weight: normal;
}

.shop tr {
  border-bottom: 1px solid grey;
}

.picker > tr > th, .picker > tr > td {
  max-width: 150px;
  height: 35px;
}

p#time-separator {
  margin: 0px 1px;
}

input.hours, input.minutes, p#time-separator {
  display: inline-block;
  vertical-align: middle;
}

input.timepicker {
  width: 38%;
  text-align: center;
}

input.datepicker {
  text-align: center;
}

.picker tr:last-child {
  border-bottom: 2px double black;
}

input#order {
  margin-left: 33%;
  margin-top: 5%;
  font-size: 22px;
}

input:focus {
  outline: 0;
}

select.timetable {
  display: inline-block;
  position: absolute;
  right: 5%;
  width: 50%;
  margin-top: 2%;
}

.select {
  width: 90%;
  line-height: 2;
  height: auto;
  display: inline-block;
  text-align: left;
}

.select::after {
  padding: 0% 5px;
}

select.payment, select.delivery_place {
  font-size: 11px;
}

.ui-widget-header {
  background: #FD6A02;
}

.ui-widget-content .ui-state-active {
  background: #FD6A02;
  border: 1px solid black;
}

.datepicker, .timepicker {
  border-radius: 25px;
  text-align: center;
  border: 1px solid grey;
}

table.picker tr:hover {
  background-color: #fd6a02;
}

p#error {
  border: 1px solid black;
  background-color: #ff0000aa;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  display: none;
}

@media screen and (min-width: 700px) {
  td {
    max-width: 50%;
  }

  input[type="text"] {
    width: 23%;
  }

  select.payment, select.delivery_place {
    font-size: 20px;
  }

  .select, #datepicker {
    max-width: 50%;
  }

  .select::after {
    padding: 0 10px;
  }

  input#order {
    margin-left: 43%;
    padding: 1% 1%;
  }

  input.datepicker[type="text"] {
    width: 50%;
  }
}
