#selected {
  color: grey;
}

#selected:hover {
  color: white;
}

ol {
    display:block;
    list-style:none;
    margin:0;
    padding:12px 10px;
    height:40px;
}
ol li {
    float:left;
    font:13px helvetica;
    font-weight:bold;
    margin:3px 0;
}

#noti_counter {
  display:block;
  position:absolute;
  background:#E1141E;
  color:#FFF;
  opacity: 0;
  top: -10px;
  font-size:12px;
  font-weight:normal;
  padding: 1px 3px;
  margin:-11px 0 0 14px;
  border-radius:2px;
  z-index:1;
}

#notifications {
  width:58%;
  position: absolute;
  top: 35px;
  right: 0%;
  background:#FFF;
  border:solid 1px rgba(100, 100, 100, .20);
  z-index: 0;
}

#notifications:before {
  content: '';
  display:block;
  width:0;
  height:0;
  color:transparent;
  border:10px solid #CCC;
  border-color:transparent transparent #FFF;
  margin-top:-15px;
  margin-left: 9%;
}

h3 {
  display:block;
  color:#333;
  background:#FFF;
  font-weight:bold;
  font-size:13px;
  padding:8px;
  margin:0;
  border-bottom:solid 1px rgba(100, 100, 100, .30);
}

@media screen and (min-width: 600px) {
  #noti_counter {
    margin: -21px 0 0 28px;
    font-size: 20px;
    padding: 1px 4px;
  }

  #notifications {
    top: 90px;
    width: 90%;
  }

  #notifications:before {
    margin-left: 50%;
    margin-top: -20%;
    font-size: 15px
  }

  #notifications h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #noti_counter {
    margin: -22px 0 0 25px;
  }

  #notifications {
    top: 85px;
  }

  #notifications:before {
    margin-left: 44%;
    font-size: 30px
  }
}
