div.tab input {
  border: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  cursor: pointer;
}

div.tab ul {
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

div.tab ul li:last-child {
  margin-left: -5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #bfa790;
  background-color: #fd6a02;
}

/* Style the buttons inside the tab */
.tab input {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0px;
}

/* Change background color of buttons on hover */
.tab input:hover {
  background-color: #feb773ff;
}

.tab input.active {
  background-color: #fd9d4e;
}

#foods, #times {
  display: none;
}

#details {
  display: block;
}
