/* .imm_logo {
  position: relative;
  left: 30%;
  width: 40%;
  height: 15%;
  padding-bottom: 2%;
} */

img.negozio {
  max-width: 80px;
  max-height: 100px;
}

td {
    border-bottom: 1px solid gray;
    height: 110px;
}

div#ris-js{
  background-color: #feb773ff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table {
  border: collapse;
}

h1{
  text-align: center;
}

@media screen and (min-width: 600px) {
  div#ris-js{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
