body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #feb773aa;
	text-align:center;
	margin: 0px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

* {
	font-family: sans-serif;
}

header {
	background-color: #FD6A02;
	padding: 2% 5%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
}

/* Icon bar */
span.icon:link {
	color: grey;
}

span.icon:visited {
	color: grey;
}

span.icon:hover {
	color: blue;
}

span.icon:active {
	color: red;
}

span.icon {
	color: black;
}

header {
	margin-bottom: 5%;
}


button {
	background-color: #ff0000;
	color: white;
	padding: 14px 20px;
	font-weight:bold;
	margin: 4px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
	display: block;
}

button:hover {
	opacity: 0.8;
}

#f_log{
	text-align: center;
}

#imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
}

#container {
	padding: 16px;
}

.icon.fas.fa-user-plus.fa-5x{
	margin-left: 90%;
}

#alert-js{
	background-color: #f44336;
	color: white;
	float: left;
	font-size: 15px;
	transition: 0.3s;
	margin: 4px 0;
}

div#logocontainer {
	margin-top:10%;
	text-align: center;
}

img.logo{
	width: 80%;
	height: 7%;
}

span.icon{
	font-size: 28px;
}

@media screen and (min-width: 600px) {
	span.icon{
		font-size: 55px;
	}
}

@media screen and (min-width: 1400px) {
	span.icon{
		font-size: 75px;
	}
}

@media screen and (min-width: 2000px) {
	span.icon{
		font-size: 120px;
	}
}
