input[type="button"] {
  box-shadow: 2px 2px 8px black;
  background-color: #feb773;
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding:3%;
  height : 5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #feb773aa;
	text-align:center;
}

input[type="button"]:focus {
  outline: 0;
}

input[type="button"]:hover, input[type="button"]:active {
  background-color: #FD6A02;
  opacity: 0.8;
}
body > form {
  margin-top: 10%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size : 25px;
}

header {
  background-color: #FD6A02;
  padding: 2% 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Icon bar */
span.icon:link {
  color: grey;
}

span.icon:visited {
  color: grey;
}

span.icon:hover {
  color: blue;
}

span.icon:active {
  color: red;
}

span.icon {
  color: black;
    font-size: 28px;
}

header {
  margin-bottom: 5%;
}

.icon.fas.fa-sign-in-alt.fa-5x{
	margin-left: 90%;
}

#imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

@media screen and (min-width: 600px) {
  span.icon{
    font-size: 55px;
  }
}

@media screen and (min-width: 1400px) {
  span.icon{
    font-size: 75px;
  }
}

@media screen and (min-width: 2000px) {
  span.icon{
    font-size: 120px;
  }
}
